
/*   設定   */
*{
    /* cursor: url("../image/cursor.png") 10 5, move; */
}
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}


/*   中間   */
.block{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	text-align: center;
	width: 100%;
	padding: 0px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
.image{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-bottom: 38px;
	border-radius: 50%;
}
.name h3{
	font-family: "Montserrat";
	text-transform: uppercase;
	color: #000;
	font-size: 50px;
	font-weight: 300;
}

.text{
	width: 100%;
    font-size: 25px;
	height: 1.25em;
    font-family: Consolas, Monaco;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*   底部   */
footer {
    width: 100%;
    bottom: 0px;
    background-color: #FFF;
    color: #000;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    /* IG:jing_an_0614 */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


/*  觸碰效果  */
#my_ig{
    font-size: 36px; 
    color: cornflowerblue;
}

#my_ig:hover{
    font-size: 50px; 
    color: cornflowerblue;
    /* cursor: url("../image/cursor_hover.png") 10 5, move; */
}

#typing:hover{
    font-size: 30px; 
    cursor: pointer;
}
